a {
	text-decoration: none; 
	color: black;
}

.header {
	font-style: italic;
}

.image {
	width: 10%; 
	height:10%; 
	padding:3% 0% 0% 20%;
}

.project-title {
	font-family: sans-serif; 
	margin-left:-5%; 
	font-weight: bold;
}